* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #3a5bd1;
    color: white;
    font-family: 'Helvetica';
}

.parameter {
    display: inline-flex;
    margin-top: 5px;
}

.parameter label {
    padding: 0 5px;
}

#wrapper {
    max-width: 500px;
    margin: 0 auto;
}

h1 {
    padding: 15px 0 0 0;
}

a {
    color: white;
}

#equations {
    padding: 0;
}

#equations > li {
    list-style: none;
    padding: 5px;
    border-radius: 5px;
}

#equations > li:hover {
    cursor: pointer;
    background-color: #4A6DE5;
}

#equations > li:active {
    background-color: #6081ec;
}

canvas {
    background-color: #3057E1;
    border: solid 5px #4A6DE5;
    border-radius: 5px;
    margin: auto;
}